@model SimpleWebStore.Models.BrowseProductsViewModel
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="panel-body">

    <div id="noproducts">
        @if (Model.Products.Count() == 0 && Model.Products.PageNumber == 1 && Model.Search.Equals(""))
        {
            <h5>No products!</h5>
        }
    </div>

    <div id="searchd">
        @if (!Model.Search.Equals(""))
        {
            <h5>Your search for "@Model.Search" found @Model.Products.TotalItemCount products in our store! </h5>
        }
    </div>

  
    @foreach (var item in Model.Products)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Name)</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-2">
                        @if (item.Image == null)
                        {
                            <img src=@Url.Content("~/Content/nopicture.png") alt="some_text" class="img-responsive" width="150" height="150">
                        }
                        else
                        {
                            <img src=@Url.Content("~/Content/Images/"+ @Html.DisplayFor(modelItem => item.Image)) alt="some_text" class="img-responsive" width="150" height="150">
                        }

                    </div>
                    <div class="col-md-10">
                        <p>
                            <div class="descr">
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                        </p>
                        <p><b>Category:</b>@Html.DisplayFor(modelItem => item.Categories.CategoryName)</p>
                        <p><b>Price:</b> @Html.DisplayFor(modelItem => item.Price) $</p>
                        <br>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    @*
    Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0:
        Model.Products.PageNumber) of @Model.Products.PageCount*@

    @if (Model.Search != "")
    {
        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new {category = Model.ActiveCategory, search = Model.Search, page }))
    }
    else
    {
        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new {category = Model.ActiveCategory, page }))
    }


</div>


<script language="javascript">
$(document).ready(function() {

    $(".descr").shorten({
        "showChars": 250,
        "moreText": "See More",
        "lessText": "Less",
    });
});

</script>