@model SimpleWebStore.Models.Products

@{
    ViewBag.Title = "Delete product";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this product?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <br>
        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) $
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
           
            @if (Model.Image == null)
            {
                <img src=@Url.Content("~/Content/nopicture.png") alt="some_text" class="img-responsive">
            }
            else
            {
                <img src=@Url.Content("~/Content/Images/"+ @Html.DisplayFor(model => model.Image)) alt="some_text" class="img-responsive">
            }
           
       
        </dd>
        <br>
      
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            <ul class="pager" style="display:inline-block;margin: -12px 0;margin-right:10px">
                <li class="previous"><a href="@Url.Action("Index", "Products")"><span aria-hidden="true">&larr;</span> Back to products</a></li>
            </ul>|
            <input style="display:inline-block;margin-left:7px;" type="submit" value="Delete" class="btn btn-primary" />
    
        </div>

       
    }
</div>
