@model SimpleWebStore.Models.BrowseProductsViewModel


@{
    ViewBag.Title = "Browse products";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("+ Add product", "Create",null, new { @class = "btn btn-primary" })
</p>

<script type="text/javascript">
    $tabs = $('#tabs').tabs();
    $('#tabs').tabs('select', 'Music');
   
</script>
<div class="panel panel-default">

    <div id="tabs">

        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#all">All</a></li>

            @foreach (var c in Model.Categories)
            {    
                <li><a data-toggle="pill" href="#@Html.DisplayFor(model => c.CategoryName)">@Html.DisplayFor(model => c.CategoryName)</a></li>
            }
        </ul>

        <div class="tab-content">

            <div id="all" class="tab-pane active">
                <div class="panel-body">
                    @foreach (var item in Model.Products)
                    {
                        @Html.Partial("_productsPartialView", item)
                    }
                </div>
            </div>

            @foreach (var c in Model.Categories)
            {

                <div id="@Html.DisplayFor(model => c.CategoryName)" class="tab-pane">

                    <div class="panel-body">
                        @foreach (var item in Model.Products.Where(item => item.Categories.CategoryName.Equals(c.CategoryName)))
                        {
                           @Html.Partial("_productsPartialView", item)
                        }
                    </div>

                </div>
                  
            }
        </div>
    </div>

</div>


